* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #6f20d4;
  --main-dark: #5e07d1;
  --black-color: #010105;
  --white-color:#ffff;
}

.todo-color {
  color: var(--main-color);
}

.todo-bg-color {
  background-color: var(--main-color) !important;
}

.title-color-main {
  color: var(--main-color);
}

.title-color {
  color: var(--black-color);
}

.todo-btn{
  background-color: var(--main-color) !important;
  color: var(--white-color) !important;
}

.todo-btn:hover{
  transition: .3s all ease;
  background-color: var(--main-dark) !important;
}



.todo-table {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo{
  text-decoration: none;
}
.logo h3{
  color:var(--main-color)
}

.header{
  background-color: var(--black-color);
}